@model Week7Assessment6.Models.Guest
<div class="background">
    <p>Thank you for responding @Model.FirstName! We're sorry to miss you this year! I'm sure there'll be another one!</p>
</div>
<button type="button" onclick="location.href = '@(Url.Action("Index","Home"))'">Return</button>