
<div class="formcontainer">
    <form id="form1" method="post" action="">
        <fieldset>
            <legend>RSVP</legend>
            <label for="FirstName">First Name:</label>
            <input class="input" name="FirstName" type="text" placeholder="Your first name..." pattern="[A-Z]\w+" required />
            <label for="LastName">Last Name:</label>
            <input class="input" name="LastName" type="text" placeholder="Your last name..." pattern="[A-Z]\w+" required />
            <label for="Email">Email:</label>
            <input class="input" name="Email" type="email" placeholder="Your email..." required />
            <label>Attending?</label>
            <br />
            <label for="yes1">Yes</label>
            <input name="Attending" type="radio" id="yes1" value="Yes" required />
            <label for="no1">No</label>
            <input name="Attending" type="radio" id="no1" value="No" />

            <div id="hidden1" class="hidden1">
                <br />
                <label>Choose a date to attend:</label>
                <br />
                <label for="date1">12/15/2018</label>
                <input name="PartyDate" type="radio" id="date1" value="1" checked />
                <label for="date2">12/18/2018</label>
                <input name="PartyDate" type="radio" id="date2" value="2" />
            </div>
            <br />
            <div id="hidden3" class="hidden3">
                <label>Will you be bringing a guest?</label>
                <br />
                <label for="yes2">Yes</label>
                <input name="PlusOne" id="yes2" type="radio" value="Yes" required />
                <label for="no2">No</label>
                <input name="PlusOne" id="no2" type="radio" value="No" />
                <div id="hidden2" class="hidden2">
                    <label for="GuestName">Enter your guest's name:</label>
                    <input class="input" name="GuestName" type="text" placeholder="Guest name..." pattern="[A-Z]\w+[ ][A-Z]\w+" />
                </div>
            </div>
            <br />
            <input type="submit" value="Submit" />

        </fieldset>
    </form>
    <br />
    <button type="button" onclick="location.href = '@(Url.Action("Index","Home"))'">Return</button>
</div>


<script type="text/javascript">
var hide1 = document.getElementById('hidden1');
var hide2 = document.getElementById('hidden2');
var hide3 = document.getElementById('hidden3');
var form1 = document.getElementById('form1');
var button1 = document.getElementById('yes1');
var button2 = document.getElementById('no1');
var button3 = document.getElementById('yes2');
var button4 = document.getElementById('no2');



button1.addEventListener("click", toggleHidden1);
button2.addEventListener("click", toggleHidden1);
button3.addEventListener("click", toggleHidden2);
button4.addEventListener("click", toggleHidden2);

function toggleHidden1() {
    if (hide1.style.display == "") {
        hide1.style.display = "block";
        hide3.style.display = "block";
        form1.action = "@Url.Action("RSVPConfirmation","Home")";
    }
    else {
        hide1.style.display = "";
        hide3.style.display = "";
        form1.action = "@Url.Action("RSVPNotAttending","Home")";
    }
}
function toggleHidden2() {
    if (hide2.style.display == "") {
        hide2.style.display = "block";
    }
    else {
        hide2.style.display = "";
    }
}
</script>
