@model Assessment6Week7.Models.ApplicationUser
<div class="background" style="padding:15px; box-shadow:10px 10px 10px black;">
    <p>Thank you for responding @Model.FirstName! We're sorry to miss you this year; we'll all be dying for the next one!</p>
</div>
<button type="button" onclick="location.href = '@(Url.Action("Index","Home"))'" style="margin:15px 0 0 0;">Return</button>