<link href="~/Content/Site.css" rel="stylesheet" />
<div class="main2">
    <span class="font">Welcome to the Quicken Loans 2018 Holiday Party!</span><br />
</div>
<div class="main2">
    <span class="font">This year's theme is gettin' down in Jonestown!</span><br />
</div>

<div class="main2">
    <div>
        <a class="button" href="@Url.Action("Create","Guests")">RSVP!</a>
        <a class="button" href="@Url.Action("Create","Dishes")">Bring a Dish!</a>
    </div>
</div>