
<div class="container center">
    <span class="font">Welcome to the Quicken Loans 2018 Holiday Party!</span><br />
</div>
<div class="container center">
    <span class="font">This year's theme is gettin' down in Jonestown!</span><br />
</div>

<div class="container center">
    <div>
        <a class="button" href="@Url.Action("Create","Guests")">RSVP!</a>
        <a class="button" href="@Url.Action("Create","Dishes")">Bring a Dish!</a>
    </div>
</div>