body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family:'Franklin Gothic';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.input, .textarea{
    width:100%;
}

#hidden1{
    display:none;
}

#hidden2{
    display:none;
}

#hidden3{
    display:none;
}

.center{
    justify-content:center;
}

.container{
    display:flex;
    margin:10px;
    padding:10px;
}

.formcontainer {
    margin: 10px;
    padding: 10px;
    background-color:gray;
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: lightgrey;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin:10px;
}

    .button:hover {
        background-color: dimgrey;
    }

    .button:active {
        background-color: dimgrey;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

.background{
    background-color:white;
    text-align:center;
}

.font{
    font-family:'Bauhaus 93';
    font-size:36px;
    color:aliceblue;
}